#layout-footer {
  height: 12vh;
  margin-bottom: 0 !important;
  margin-top: 10px !important;
  color: white;
  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: space-around; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer div {
    justify-self: baseline;
    justify-content: center; }
    #layout-footer div .mi {
      vertical-align: middle;
      margin: 2px 3px;
      padding: 3px 2px; }
  #layout-footer .footer-nav ul {
    list-style: none; }
